﻿@model ML.Asignacion

@{
    ViewBag.Title = "GetAllAsignaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center; color:aqua">Asignaciones </h2>
@*<div class="container">


    <div class="row">
        <div class="col-md-12">
            <h5>Seleccione un Usuario para editarlo o + para agregar...</h5>
            <hr />
        </div>
    </div>

</div>*@

<div style="float:right;">
    @Html.ActionLink("Agregar", "Form", "Departamento", htmlAttributes: new { @class = "btn btn-success" })
</div>

<br>
<br>

<table class="table table-hover table-bordered table-responsive">
    <thead>
        <tr class="table-secondary">
            <td>Editar</td>
            <td style="display :none;">IdUsuario</td>
            <td style="display :none;">IdSupervisor</td>
            <td>Nombre</td>
            <td>Area</td>
            <td>Marca</td>

            <td>Modelo</td>
            <td>FechaAsignada</td>

        </tr>
    </thead>
    <tbody>
        @foreach (ML.Asignacion asignaciones in Model.Asignaciones)
        {

            <tr>
                <td>
                    <a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("DeleteAsignacion", "Usuario", new { IdAsignacion = asignaciones.IdAsignacion })">Eliminar Asignacion</a>

                </td>
                <td style="display :none;">@asignaciones.IdAsignacion </td>
                <td style="display :none;">@asignaciones.Usuario.IdUsuario </td>

                <td>@asignaciones.Usuario.Nombre</td>
                <td>@asignaciones.Area.Descripccion</td>

                <td>@asignaciones.Marca.NombreMarca</td>

                <td>@asignaciones.Equipo.Modelo</td>
                <td>@asignaciones.FechaAsignada</td>






            </tr>
        }

    </tbody>
</table>


