﻿@model ML.Asignacion

@{
    ViewBag.Title = "GetAllAsignaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center;">Asignaciones </h2>


<br>
<div class="row">
    <div class="col-md-12">
        <h5>Lista de los Equipos Asignados a Usuarios.............................................</h5>
        <hr />
    </div>
</div>
<br>

<br>

<table class="table table-hover table-bordered table-responsive">
    <thead>
        <tr class="table-secondary">
            <td>Editar</td>
            <td style="display :none;">IdUsuario</td>
            <td style="display :none;">IdSupervisor</td>
            <td>Nombre</td>
            <td>Area</td>
            <td>Marca</td>

            <td>Modelo</td>
            <td>FechaAsignada</td>

        </tr>
    </thead>
    <tbody>
        @foreach (ML.Asignacion asignaciones in Model.Asignaciones)
        {

            <tr>
                <td>
                    <a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("DeleteAsignacion", "Usuario", new { IdAsignacion = asignaciones.IdAsignacion })">Eliminar Asignacion</a>

                </td>
                <td style="display :none;">@asignaciones.IdAsignacion </td>
                <td style="display :none;">@asignaciones.Usuario.IdUsuario </td>

                <td>@asignaciones.Usuario.Nombre</td>
                <td>@asignaciones.Area.Descripccion</td>

                <td>@asignaciones.Marca.NombreMarca</td>

                <td>@asignaciones.Equipo.Modelo</td>
                <td>@asignaciones.FechaAsignada</td>






            </tr>
        }

    </tbody>
</table>


<style>

    body {
        background: #A770EF; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
</style>
