@model ML.Equipo
@{
    ViewBag.Title = "GetAllEquipos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 style="text-align: center; color:aqua">Equipos </h2>

<br>




<div class="row">
    <div class="col-md-12">
        <h5>Lista de los Equipos registrados en la base de datos.................................</h5>
        <hr />
    </div>
</div>

<br>

<table class="table table-hover table-bordered table-responsive">
    <thead>
        <tr class="table-secondary">
            @*<td>Editar</td>*@
            <td style="display :none;">IdEquipo</td>
            <td style="display :none;">IdTipoEquipo</td>
            <td>Modelo</td>
            <td>ClaveInventario</td>
            <td>NombreTipo</td>

        </tr>
    </thead>
    <tbody>
        @foreach (ML.Equipo equipo in Model.Equipos)
        {
            <tr>
                <td style="display :none;">@equipo.IdEquipo </td>
                <td style="display :none;">@equipo.TipoEquipo.IdTipoEquipo </td>

                <td>@equipo.Modelo</td>
                <td>@equipo.ClaveInventario</td>
                <td>@equipo.TipoEquipo.NombreTipo</td>







            </tr>
        }

    </tbody>
</table>



<style>

    body {
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    }
</style>